<%-include("header")%>
<%-include("nav")%>
<!-- <link rel="stylesheet" href="abouts.css"> -->
<div class="about" style="padding-top: 8%;">
    <main>
        <div class="container-fluid" style="padding:0px;background-color:#F5F4F8">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 companyHeader">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-xs-12 col-sm-12"
                    style="margin-left: 10%;">
                    <h1 class="tcHeading">
                        <center>About US</center>
                    </h1>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:50px;margin-bottom:100px;text-align:justify">

                <center>
                    <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-12 col-xs-12"
                        style="margin-right:20px;padding-top:20px">
                        <div style="font-size:16px">
                            <div style="margin-left: 22%; text-align: justify;">GoodWill is a unique online platform dedicated to
                                facilitating
                                donations to non-governmental organizations (NGOs) across the globe. Our mission is to
                                make
                                it easy for individuals and companies to contribute towards causes they care about and
                                make
                                a real difference in the world.
                                <br><br>
                                At GoodWill, we believe that everyone has the power to make a positive impact. We
                                understand
                                that not everyone has the time, resources, or connections to find and support
                                trustworthy
                                NGOs. That's where we come in - our website is designed to connect donors with NGOs that
                                are
                                making a meaningful impact in their communities.
                                <br><br>
                                Our website features a curated list of NGOs from different parts of the world. Each
                                organization featured on our website goes through a rigorous vetting process to ensure
                                they
                                are legitimate, transparent, and accountable. This way, donors can feel confident that
                                their
                                donations are going to trustworthy organizations that are making a real difference.
                                <br><br>
                                Making a donation on our website is easy and secure. We accept donations through a
                                variety
                                of payment methods, including credit cards, debit cards, PayPal, and more. Donors can
                                choose
                                to make a one-time donation or set up a recurring donation to provide ongoing support to
                                the
                                NGOs they care about.
                                <br><br>
                                In addition to connecting donors with NGOs, our website also features inspiring stories
                                and
                                updates on the impact of donations. We believe that it's important for donors to see the
                                real-world impact of their contributions, and we strive to provide regular updates on
                                the
                                progress and achievements of the NGOs we support.
                                <br><br>
                                Overall, GoodWill is committed to creating positive change in the world by providing a
                                simple, secure, and effective way for individuals and companies to support NGOs. Join us
                                in
                                our mission to create a better world, one donation at a time.</div> <br />
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </main>
    <%-include("footer")%>
</div>
</body>

</html>