<%-include("header")%>
<%-include("nav")%>
<!-- <link rel="stylesheet" href="abouts.css"> -->
<div class="about" style="padding-top: 8%;">
    <main>
        <div class="container-fluid" style="padding:0px;background-color:#F5F4F8">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 companyHeader">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-xs-12 col-sm-12"
                    style="margin-left: 10%;">
                    <h1 class="tcHeading">
                        <center>FAQ's</center>
                    </h1>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:50px;text-align:justify">
                <div class="Questions">
                    <h3>
                        <span class="Q">Q: </span>What is GoodWill?
                    </h3>
                    <h5 class="text-muted">
                        A: GoodWill is an online marketplace that connects donors and NGOs, making it easy to donate to
                        and support various charitable causes around the world.
                    </h5>
                </div>
                <div class="Questions">
                    <h3>
                        Q: How does GoodWill work?
                    </h3>
                    <h5 class="text-muted">
                        A: NGOs can create profiles on GoodWill and list their funding needs, while donors can search
                        for organizations that align with their values and donate to them directly through the platform.
                    </h5>
                </div>
                <div class="Questions">
                    <h3>
                        Q: What kind of NGOs can use GoodWill?
                    </h3>
                    <h5 class="text-muted">
                        A: GoodWill is open to NGOs of all types and sizes, as long as they are registered and have a
                        clear mission to support a charitable cause.</h5>
                </div>

                <div class="Questions">
                    <h3>
                        Q: Can individuals also use GoodWill to donate to NGOs?
                    </h3>
                    <h5 class="text-muted">
                        A: Yes, GoodWill is designed to make it easy for individuals and organizations to donate to NGOs
                        and support charitable causes around the world.</h5>
                </div>
                <div class="Questions">
                    <h3>
                        Q: Can NGOs on GoodWill provide updates to donors about how their donations are being used?
                    </h3>
                    <h5 class="text-muted">
                        A: Yes, NGOs can provide regular updates to their donors through the GoodWill platform, helping
                        to build transparency and trust between the NGO and its supporters.</h5>
                </div>
                <div class="Questions">
                    <h3>
                        Q: How does GoodWill ensure that the NGOs are legitimate and trustworthy?
                    </h3>
                    <h5 class="text-muted">
                        A: GoodWill verifies the registration and legitimacy of each NGO before allowing them to create
                        a profile on the platform. Donors can also see information about the NGO's history and impact,
                        as well as reviews from other donors, to help them make informed decisions about where to
                        donate.</h5>
                </div>
                <!-- <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-12 col-xs-12"
                    style="margin-right:20px;padding-top:20px">
                    <div style="font-size:16px">
                        <div style="margin-left: 22%;">SociallyGood is a digital Marketplace to craft social change. It is a
                            technology-enabled online engagement platform bringing together the main
                            stakeholders including Non-Profits, Corporates and Individuals as Volunteers and
                            Donors.<br /><br />With an aim to increase the global reach, global engagement
                            and efficiency for all the players, SociallyGood has adopted best of
                            technologies including Artificial Intelligence and integrated more than 10-point
                            solutions into one robust platform to make fundraising, volunteering, event and
                            beneficiary management simple. <br /><br />SociallyGood was started with the aim
                            to empower urban and rural people across the world to make a measurable social
                            impact for the greater good. SociallyGood has already hundreds of Non-Profits on
                            its marketplace from India and United States, and targeting to have 100k
                            Non-Profits by 2022 and over 1.0 million Non-Profits &amp; Corporates by
                            2024.<br /><br />We are hopeful and excited about making the world a better
                            place with SociallyGood.</div> <br />
                    </div>
                </div> -->
                <!-- <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"
                    style="margin-bottom:50px;padding-top:20px;text-align:-webkit-center">
                    <div class="row"><a
                            href="https://res.cloudinary.com/sgpproduction/image/upload/v1584013060/sociallygood/SGApp/Company%20Page/SG-Leaflet-4PPT-pg1.jpg"
                            rel="noopener noreferrer" target="_blank"><img
                                class="img-responsive companyInfoImg"
                                src="https://res.cloudinary.com/sgpproduction/image/upload/v1584013060/sociallygood/SGApp/Company%20Page/SG-Leaflet-4PPT-pg1.jpg"
                                alt="Marketplace" style="max-width:75%" /></a></div>
                    <div class="row" style="margin-top:20px"><a
                            href="https://res.cloudinary.com/sgpproduction/image/upload/v1584013062/sociallygood/SGApp/Company%20Page/SG-Leaflet-4PPT-pg2.jpg"
                            rel="noopener noreferrer" target="_blank"><img
                                src="https://res.cloudinary.com/sgpproduction/image/upload/v1584013062/sociallygood/SGApp/Company%20Page/SG-Leaflet-4PPT-pg2.jpg"
                                alt="Marketplace" class="img-responsive companyInfoImg"
                                style="max-width:75%" /></a></div>
                </div> -->
            </div>
        </div>
    </main>
    <%-include("footer")%>
</div>
</body>

</html>