<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<footer class="footer_area section_padding_130_0 bg-dark">
  <div class="container">
    <div class="row">
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg-4 pt-4">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Footer Logo-->
          <div class="footer-logo mb-3"></div>
          <!-- <a href="" style="text-decoration: none;"><img src="logo.jpeg" style=" height: 80px; border-radius: 50%;" alt=""><span style="font-size: 2rem;"> Goodwill </span> <br> <span>eu</span></a> -->
          <div class="footerlink" style="margin-left: 0%;">
            <a href="/" style="text-decoration: none;">
              <div class="col-xs-12" style="display: flex; align-items: center;">
                <div style="float: left; min-height: 42px;">
                  <img src="Logo.png" class="footerlogo" alt=""
                    style="margin-left: -4px; margin-right: 5px; float: left; width: 75px; height: 85px;">
                </div>
                <div class="footerlogo"
                  style="color: rgb(6, 6, 6); font-family: Capriola; padding-left: 2px; padding-right: 0px; text-align: left; max-width: 220px; min-width: 190px;">
                  <div style="font-size: 28px; padding-bottom: 6px; color: rgb(55, 219, 33);">GOODWILL</div>
                  <div style="margin-top: -5px; font-size: 10px; font-family: poppins; color: rgb(55, 219, 33);">
                    Digital Social Marketpalce for Ngos
                  </div>
                </div>
              </div>
            </a>
          </div>



          <!-- Footer Social Area-->
          <div class="footer_social_area" style="padding-top: 15%;"><a href="#" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" data-toggle="tooltip"
              data-placement="top" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a><a
              href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype"><i
                class="fa fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Twitter"><i class="fa fa-twitter"></i></a></div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg pt-4">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">About</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li>

                <a href="/about_us" class="needthishitwhite" style="color: white;">About Us</a>

              </li>
              <li><a href="#" class="needthishitwhite" style="color: white;">Corporate Sale</a></li>
              <li><a href="#" class="needthishitwhite" style="color: white;">Terms &amp; Policy</a></li>
              <li><a href="#" class="needthishitwhite" style="color: white;">Community</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg pt-4">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Support</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="#" class="needthishitwhite" style="color: white;">Help</a></li>
              <li><a href="/feedback" class="needthishitwhite" style="color: white;">FeedBack</a></li>
              <li><a href="#" class="needthishitwhite" style="color: white;">Privacy Policy</a></li>
              <li><a href="/TermsCondition" class="needthishitwhite" style="color: white;">Term &amp; Conditions</a></li>
              <li><a href="/Faq" class="needthishitwhite" style="color: white;">FaQs</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Single Widget-->
      <div class="col-12 col-sm-6 col-lg pt-4">
        <div class="single-footer-widget section_padding_0_130">
          <!-- Widget Title-->
          <h5 class="widget-title">Contact</h5>
          <!-- Footer Menu-->
          <div class="footer_menu">
            <ul>
              <li><a href="#" class="needthishitwhite" style="color: white;">Call Centre</a></li>
              <li><a href="#" class="needthishitwhite" style="color: white;">Email Us</a></li>
              <li><a href="#" class="needthishitwhite" style="color: white;">Term &amp; Conditions</a></li>
              <li><a href="#" class="needthishitwhite" style="color: white;">Help Center</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>

</html>