<link rel="stylesheet" href="css/indiStyle.css">

    <div class="individualHead">
        <h1 class="individualH1">Individual </h1>
        <h2 class="individualSubHeading">Be the Sparkle, Be the Shine!</h2>
    </div>
    <br><br>

<div class="individualContainer">
    <div class="individualItem">
        <img src="https://iili.io/HhcDjyX.webp" alt="">
        <h2 class="individualHeading">EXPLORE</h2>
        <p class="para">Causes aligned</p>
        <p class="para">to your interest</p>
    </div>

    <div class="individualItem">
        <img src="https://iili.io/HhcDOjs.webp" alt="">
        <h2 class="individualHeading">CONTRIBUTE</h2>
        <p class="para">Volunteer or donate</p>
        <p class="para">for the cause</p>
    </div>

    <div class="individualItem">
        <img src="https://iili.io/HhcDNun.webp" alt="">
        <h2 class="individualHeading">SHOWCASE</h2>
        <p class="para">Your</p>
        <p class="para">Good Karma</p>
    </div>
</div>
<div class="individualImageSec">
    <div>
        <img class="individualImgs" src="https://iili.io/HhcvHss.png" alt="">
    </div>
    <div>
        <img class="individualImgs" src="https://iili.io/Hhcv9Xn.png" alt="">
    </div>
</div>