<!-- <%include("header")%>
<%include("nav")%>
<% include("footer") %> -->
<section id="features">
    <h1 class="servicesHeading">Our services</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 featcont">
                <ion-icon name="checkmark-circle" class="feat" style="font-size: 50px;"></ion-icon>
                <h3>Easy to use.</h3>
                <p class="feature-p">Easiest way to help others.</p>
            </div>
            <div class="col-lg-4 featcont">
                <ion-icon name="home" class="feat" style="font-size: 50px;"></ion-icon>
                <h3>Support Ngos</h3>
                <p class="feature-p">Connect Ngos to donors.</p>
            </div>
            <div class="col-lg-4 featcont">
                <ion-icon name="heart" class="feat" style="font-size: 50px;"></ion-icon>
                <h3>Reliable</h3>
                <p class="feature-p">Our Service makes a difference.</p>
            </div>
        </div>
    </div>
</section>
