<nav class="navbar navbar-expand-lg navbar-light bg-light mb-0 shadow-5-strong fixed-top" id="Navbar" style="z-index: 100;">
    <a href="/" style="text-decoration: none;">
        <div class="col-xs-12" style="display: flex; align-items: center;">
            <div style="float: left; min-height: 25px;">
                <img src="Logo.png" class="footerlogo" alt=""
                    style="margin-left: 10px; margin-right: 4px; float: left; width: 60px; height: 64px; margin-top: 3%;">
            </div>
            <div class="footerlogo"
                style="margin-top: 3%; color: rgb(6, 6, 6); font-family: Capriola; padding-left: 2px; padding-right: 0px; text-align: left; max-width: 220px; min-width: 190px;">
                <div style="font-size: 20px; padding-bottom: 0px; color: rgb(17, 143, 0);">GOODWILL</div>
                <div style="margin-top: -5px; font-size: 10px; font-family: poppins; color: rgb(18, 141, 2);">
                    Digital Social Marketplace for Ngos
                </div>
            </div>
        </div>
    </a>

    <button class="navbar-toggler" type="button" role="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="/"><i class='fa fa-home'></i>&nbsp; Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services"><i class='fa fa-hands-helping'></i>&nbsp; Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ngos"><i class='fa fa-users'></i>&nbsp; NGOs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact"><i class='fa fa-envelope-o'></i>&nbsp; Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log"><i class="fa fa-sign-in"></i>&nbsp; Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register"><i class='fa fa-user-plus'></i>&nbsp; Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chat"><i class='	fa fa-comment'></i>&nbsp; Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bloghome"><i class='	fa fa-comment'></i>&nbsp; blog</a>
            </li>
       
        </ul>
    </div>




    
</nav>