<!-- <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top" style="padding-left: 4%;">
    <a href="#" class="navbar-brand">My website</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav flex-row justify-content-end" style="padding-left: 15%;">
        <li class="nav-item">
            <a class="nav-link text-success paddingR_custom paddingL_custom font_custom "
                aria-current="page" href="/"><i class='fa fa-home'></i> &nbsp;Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success paddingR_custom font_custom" href="/services"><i
                    class='fas fa-hands-helping'></i> &nbsp; Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success paddingR_custom font_custom" href="/user"><i class='fa fa-user'></i>
                &nbsp; Individual</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success paddingR_custom font_custom" href="/ngos"><i
                    class='fa fa-users'></i> &nbsp; NGO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success paddingR_custom font_custom" href="/contact"><i
                    class='fa fa-envelope-o'></i>&nbsp; Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn text-success paddingR_custom font_custom cursor-pointer" href="#">
                <i class="fa fa-sign-in"></i> &nbsp;Log In</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn text-success paddingR_custom font_custom cursor-pointer " href="#">
                <i class='fa fa-user-plus'></i>
                &nbsp; Sign Up</a>
        </li>
    </ul>

    </div>
  </nav>
   -->
  
          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->



          <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Brand</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">




               <!-- <ul class="navbar-nav mr-auto"> -->
                  <!-- <li class="nav-item active">
                     <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link" href="https://codepen.io">About</a>
                     <a class="dropdown-toggle "href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="https://codepen.io">Item 1</a>
                        <a class="dropdown-item" href="#">Item 2</a>
                        <a class="dropdown-item" href="#">Item 3</a>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Contact</a>
                  </li> -->


                  <ul class="navbar-nav flex-row justify-content-end" style="padding-left: 15%;">
                    <li class="nav-item">
                        <a class="nav-link " href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services"> Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success paddingR_custom font_custom" href="/user"> Individual</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success paddingR_custom font_custom" href="/ngos">NGO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-success paddingR_custom font_custom" href="/contact">
                                Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn text-success paddingR_custom font_custom cursor-pointer" href="#">
                          Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn text-success paddingR_custom font_custom cursor-pointer " href="#">Sign Up</a>
                    </li>
                </ul>





               <!-- </ul> -->
            </div>
         </nav>