<link rel="stylesheet" href="css/nonProfitStyle.css">
<div class="nonProfitMainContainer">
    <center>
        <div>
            <h1 class="nonProfitH1">Non-Profit </h1>
            <h2 class="nonProfitH2">Bring it all together</h2>
        </div>
    </center>
    <center>
        <div class="nonProfitC2">
            <h4 style="width: 75%;">You serve the society; it's our turn to serve you. We simplify your efforts to scale your
                donor-volunteer reach, and sustain them too.</h4>
        </div>
    </center>
    <div class="nonProfitContainer">
        <div class="nonProfitItem">
            <img src="https://iili.io/HhcD7v1.webp" alt="">
            <center>
                <p class="para para1">New volunteers</p>
                <p class="para">and donors</p>
            </center>
        </div>

        <div class="nonProfitItem">
            <img src="https://iili.io/HhcD5YP.webp" alt="">
            <center>
                <p class="para para1">Deepen member</p>
                <p class="para">relationship</p>
            </center>
        </div>

        <div class="nonProfitItem">
            <img src="https://iili.io/HhcDYyF.webp" alt="">
            <center>
                <p class="para para1">Change</p>
                <p class="para">in the Society</p>
            </center>
        </div>
    </div>

</div>

<div>
    <center><br><br><br>
        <a href="/register" id="nonProfitBtn">Try It For Free</a></center>
    <center>
        <p id="para2">Already registered?</p>
        <a href="/log" id="nonProfitSignUp">Sign up</a>
    </center>


</div>

</div>


