
<div class="page1">

    <h1 style="padding-top:30px; padding-left: 20px; font-family: 'Roboto', sans-serif; color: white;">Non-Profit</h1>
    <div class="containr">
        <div class="item" id="item-1"></div>
        <div class="item" id="item-2"></div>
        <div class="item" id="item-3"></div>
    </div>
    <div class="another-con">
        <h3 id="add-0">You serve the society; it's our turn to serve you. We simplify your efforts to scale your donor-volunteer reach, and sustain them too.</h3> 
    </div>
    <button type="button" id="add-1" >Try it for FREE</button>
        <p id="add-2">Already registered?</p>
        <a href="" id="add-3">Sign up</a>

</div>