<%-include("header")%>
<%-include("nav")%>
<style>
    .T_C {
        list-style: decimal;
        padding-bottom: 1.5rem;
        padding-left: 0.8rem;
    }
    .T_C:hover
    {
        font-weight: bold;
        color: black;
    }

    .tcHeading {
        padding-top: 2rem;
        text-decoration: underline;
        color: black;
        font-weight: bolder;
    }
</style>
<div class="about" style="padding-top: 8%;">
    <main>
        <div class="container-fluid" style="padding:0px;background-color:#F5F4F8">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 companyHeader">
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 col-xs-12 col-sm-12"
                    style="margin-left: 10%; ">
                    <h1 class="tcHeading">
                        <center>Terms And Conditions</center>
                    </h1>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:50px;">
                <div class="TC">
                    <ol style="padding-left: 5rem;">
                        <li class="T_C">
                            <h4>Eligibility:</h4> Users of the platform must be at least 18 years old and legally
                            able to enter
                            into
                            a contract.
                        </li>

                        <li class="T_C">
                            <h4>User accounts :</h4> Users must create an account to access the platform, and they
                            are
                            responsible for
                            maintaining the confidentiality of their account information.
                        </li>

                        <li class="T_C">
                            <h4>Donations :</h4> Users can donate to registered NGOs through the platform, and the
                            platform may
                            charge
                            a small fee for processing donations.
                        </li>

                        <li class="T_C">
                            <h4>NGO profiles :</h4> NGOs can create profiles on the platform and list their funding
                            needs, but
                            they
                            are
                            responsible for ensuring that the information on their profile is accurate and up to date.
                        </li>

                        <li class="T_C">
                            <h4>Content :</h4> Users must not upload or post any content that is illegal, harmful, or
                            infringes
                            on the
                            rights of others.
                        </li>

                        <li class="T_C">
                            <h4>Intellectual property :</h4> Users must respect the intellectual property rights of
                            others and
                            must
                            not
                            use any copyrighted material without permission.
                        </li>

                        <li class="T_C">
                            <h4>Indemnification :</h4> Users are responsible for any damages or losses that they may
                            cause to the
                            platform
                            or other users, and they agree to indemnify and hold harmless the platform from any claims
                            arising
                            from their use of the platform.
                        </li>

                        <li class="T_C">
                            <h4>Limitation of liability :</h4> The platform is not responsible for any damages or
                            losses that
                            users
                            may
                            incur as a result of using the platform, except where such damages or losses are caused by
                            the
                            platform's negligence.
                        </li>

                        <li class="T_C">
                            <h4>Termination : </h4> The platform may terminate a user's account at any time for any
                            reason,
                            without
                            notice.
                        </li>

                        <li class="T_C">
                            <h4>Governing law :</h4> The terms and conditions are governed by the laws of the
                            jurisdiction in
                            which
                            the
                            platform is based.
                        </li>

                        <li class="T_C">
                            <h4> Privacy policy :</h4> The platform must have a clear privacy policy that explains how
                            user data
                            is
                            collected, used, and protected.
                        </li>

                        <li class="T_C">
                            <h4>Prohibited activities :</h4> Users must not engage in any activities that violate the
                            platform's
                            policies
                            or are illegal, such as fraud, harassment, or spamming.
                        </li>

                        <li class="T_C">
                            <h4>Dispute resolution :</h4> The platform may provide a mechanism for users to resolve
                            disputes with
                            each
                            other, such as mediation or arbitration.
                        </li>

                        <li class="T_C">
                            <h4>Changes to terms and conditions :</h4> The platform may change the terms and
                            conditions at any
                            time,
                            and
                            users are responsible for keeping up to date with any changes.
                        </li>

                        <li class="T_C">
                            <h4>Disclaimer of warranties :</h4> The platform provides no warranties or guarantees as
                            to the
                            accuracy
                            or
                            reliability of the information on the platform or the performance of the platform.
                        </li>

                        <li class="T_C">
                            <h4>User feedback :</h4> Users may provide feedback to the platform about their
                            experiences using the
                            platform
                            or specific NGOs, but they must do so in a constructive and respectful manner.
                        </li>

                        <li class="T_C">
                            <h4>User-generated content :</h4> Users may create and share content on the platform,
                            such as
                            comments or
                            reviews, but they are responsible for ensuring that the content is accurate and not harmful
                            to
                            others.
                        </li>

                        <li class="T_C">
                            <h4>Termination of NGOs :</h4> The platform may terminate an NGO's profile at any time
                            for any
                            reason,
                            including but not limited to a violation of the platform's policies or a lack of activity on
                            the
                            profile.
                        </li>

                        <li class="T_C">
                            <h4>Third-party services :</h4> The platform may use third-party services, such as
                            payment processors
                            or
                            analytics providers, and users must comply with the terms and conditions of these services
                            when
                            using the platform.
                        </li>

                        <li class="T_C">
                            <h4>Contact information :</h4> The platform must provide contact information for users to
                            reach out
                            to
                            with
                            any questions, concerns, or feedback.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </main>
    <%-include("footer")%>
</div>
</body>

</html>